@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 36px 0;
}

.search-form {
  text-align: center;
  margin-bottom: 32px;
}

input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 8px;
  font-size: 16px;
  letter-spacing: 0.04em;
  outline: transparent;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4e75ff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.item {
  border: 1px solid #808080;
  max-width: 360px;
  overflow: hidden;
}

.item-desc {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.item-link {
  display: block;
  width: 360px;
  height: 152px;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-btn {
  border-radius: 8px;
  width: 91px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}
